.home {
  flex: 1;
  min-height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

h1 {
  font-size: 1rem;
  font-weight: 300;
}

.drop-down {
  width: 8px;
  height: auto;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile-info {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.premeium-wrapper {
  font-size: 0.675rem;
  max-width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  background-color: rgb(58, 59, 59);
  padding: 5px;
  border-radius: 5px;
}

.grad {
  color: rgb(189, 95, 153);
}

.main {
  max-width: 800px;
  margin: auto;
}

.text-wrap > h3 {
  background: linear-gradient(to left, #121fcf 60%, #cf016b);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
}

.header {
  margin: 60px 0;
}

.header > h3 {
  color: rgb(68, 71, 70);
  font-size: 2.25rem;
}

.cards {
  display: flex;
  gap: 1rem;
  margin-top: 50px;
}

.card {
  display: inline-flex;
  align-items: flex-start;
  height: 150px;
  width: 170px;
  background-color: rgb(30, 31, 32);
  padding: 10px;
  font-size: 0.85rem;
  border-radius: 10px;
}

.card:hover {
  background-color: rgb(58, 59, 59);
  cursor: pointer;
}

.card-img {
  align-self: flex-end;
}

.prompts {
  position: absolute;
  bottom: 0;
  width: 80%;
}

.wrapper {
  max-width: 500px;
  margin: auto;
}

input {
  width: 600px;
  background-color: rgb(30, 31, 32);
  padding: 10px;
  border: 0;
  border-radius: 20px;
  color: white;
}

.inner-wrapper {
  background-color: rgb(30, 31, 32);
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  padding: 5px 15px 5px 5px;
  border-radius: 20px;
  box-shadow: 5px solid rgba(255, 255, 255, 0.5);
}

.prompts > p {
  font-size: 0.65rem;
  margin: 6px 0 5px 600px;
}

.search-img:hover {
  cursor: pointer;
}

.response {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-content: center;
  padding: 0px 5px;
  max-height: 80vh;
  overflow-y: scroll;
}

.response::-webkit-scrollbar {
  display: none;
}

.result-title {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 14px;
}

.result-data {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  font-size: 13px;
}

.result-data p {
  font-size: 13px;
  font-weight: 300;
  line-break: strict;
  line-height: 1.8;
}

.loader {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loader hr {
  border-radius: 4px;
  border: none;
  background-color: white;
  background: linear-gradient(
    to right,
    rgba(99, 184, 224, 0.452),
    rgb(250, 250, 250),
    rgba(114, 176, 204, 0.596)
  );
  background-size: 800px 50px;
  height: 20px;
  animation: loader 3s infinite linear;
}

@keyframes loader {
  0% {
    background-position: -800px 0px;
  }
  100% {
    background-position: 800px 0px;
  }
}
